<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control
      i18n-nzErrorTip
      nzErrorTip="The input is not valid E-mail!">
      <input placeholder="Email" nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control i18n-nzErrorTip nzErrorTip="Please input your firstname!">
      <input
        i18n-placeholder
        placeholder="Firstname"
        nz-input
        type="text"
        id="firstname"
        formControlName="firstname" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      i18n-nzErrorTip
      nzErrorTip="Please input your password! (>= 8 symbols)">
      <input
        i18n-placeholder
        placeholder="Password"
        nz-input
        type="password"
        id="password"
        formControlName="password"
        (ngModelChange)="updateConfirmValidator()" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTpl">
      <input
        i18n-placeholder
        placeholder="Confirm password"
        nz-input
        type="password"
        formControlName="checkPassword"
        id="checkPassword" />
      <ng-template #errorTpl let-control>
        @if (control.errors?.['required']) {
          <ng-container i18n> Please confirm your password! </ng-container>
        }
        @if (control.errors?.['confirm']) {
          <ng-container i18n>
            Two passwords that you enter is inconsistent!
          </ng-container>
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzValidateStatus]="validateForm.controls['phoneNumber']"
      i18n-nzErrorTip
      nzErrorTip="Please input your phone number!">
      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select formControlName="phoneNumberPrefix" class="phone-select">
            <nz-option nzLabel="+375" nzValue="+375"></nz-option>
          </nz-select>
        </ng-template>
        <input
          i18n-placeholder
          placeholder="Phone number"
          formControlName="phoneNumber"
          id="'phoneNumber'"
          nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control i18n-nzErrorTip nzErrorTip nzErrorTip="You must agree">
      <label nz-checkbox formControlName="agree">
        <span>
          <ng-container i18n> I have read the </ng-container>
          <a i18n (click)="agreement($event)">agreement</a>
        </span>
      </label>
    </nz-form-control>
  </nz-form-item>
</form>
