<form
  nz-form
  [formGroup]="validateForm"
  class="login-form"
  (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control
      i18n-nzErrorTip
      nzErrorTip
      nzErrorTip="Please input your Email!">
      <nz-input-group nzPrefixIcon="mail">
        <input
          type="text"
          nz-input
          formControlName="email"
          i18n-placeholder
          placeholder
          placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      i18n-nzErrorTip
      nzErrorTip
      nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          i18n-placeholder
          placeholder
          placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  @if (failedSignIn) {
    <nz-alert
      nzType="error"
      i18n-nzMessage
      nzMessage
      nzMessage="Your email or password is incorrect" />
  }
  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span i18n>Remember me</span>
      </label>
    </div>
    <div nz-col [nzSpan]="12">
      <a i18n class="login-form-forgot">Forgot password</a>
    </div>
  </div>
</form>
