<div class="wrapper">
  <nz-card class="product">
    <div class="product-content">
      <div class="image-container">
        <img
          [nzSrc]="currentImage!"
          nz-image
          width="200px"
          height="200px"
          [nzFallback]="imageFallbackUrl"
          alt="product image" />
      </div>
      <div class="product-info">
        <h1 class="title">{{ data?.title }}</h1>
        <div class="feedback-container">
          <nz-rate [ngModel]="data?.rating" nzDisabled></nz-rate>
          <span class="review-counter">
            {{ data?.reviews?.length ?? 0 }} reviews
          </span>
        </div>
        <div class="price-container">
          @if (data?.off) {
            <p class="calculated-price">
              {{ (1 - data?.off! / 100) * data?.price! | currency }}
            </p>
          }
          <p class="original-price" [class.old]="data?.off">
            {{ data?.price | currency }}
          </p>
        </div>
        <div class="color-container">
          <p class="color-label">Color</p>
          <app-colors [colors]="['red']" />
        </div>
        <div class="button-container">
          <button nz-button nzType="default">Add to wisthlist</button>
          <button nz-button nzType="primary">Add to cart</button>
        </div>
        <div class="short-description">
          <h2>Product description</h2>
          <p>
            {{ data?.short_description }}
          </p>
        </div>
      </div>
    </div>
  </nz-card>
  <nz-tabset>
    <nz-tab nzTitle="Description">
      <p class="description">
        {{ data?.description }}
      </p>
    </nz-tab>
    <nz-tab nzTitle="Reviews">
      <ng-template #commentTemplateRef let-comment="comment">
        <nz-comment [nzAuthor]="comment.author">
          <nz-avatar
            nz-comment-avatar
            nzIcon="user"
            [nzSrc]="comment.avatar"></nz-avatar>
          <nz-comment-content>
            <p>{{ comment.content }}</p>
          </nz-comment-content>
          <nz-comment-action>Reply to</nz-comment-action>
          @if (comment.children && comment.children.length) {
            @for (child of comment.children; track child) {
              <ng-template
                [ngTemplateOutlet]="commentTemplateRef"
                [ngTemplateOutletContext]="{ comment: child }" />
            }
          }
        </nz-comment>
      </ng-template>

      <ng-template
        [ngTemplateOutlet]="commentTemplateRef"
        [ngTemplateOutletContext]="{ comment: commentData }"></ng-template>
    </nz-tab>
  </nz-tabset>
</div>
