.blog-container {
  padding: 0 5rem;
  padding-bottom: 5rem;
}

app-new-post {
  margin-bottom: 1.5rem;
  display: block;
}
app-post {
  display: block;
  margin-bottom: 1.5rem;
}

nz-card {
  display: block;
  margin-bottom: 1.5rem;
}

nz-pagination {
  text-align: center;
}

nz-empty {
  margin-top: 5rem;
}
