<div class="container">
  <ng-container appOnlyAdmins #access="access">
    @if (access.auth.userInfo.getValue()?.role_id === 1) {
      <app-new-post (formSubmit)="submitPost($event)" [sending]="sending" />
    }
  </ng-container>
  <div class="posts">
    @if (fetching) {
      <nz-card>
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </nz-card>
      <nz-card>
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </nz-card>
      <nz-card>
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </nz-card>
      <nz-card>
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </nz-card>
      <nz-card>
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </nz-card>
    } @else {
      @for (post of posts; track post.ID) {
        <app-post
          [id]="post.ID"
          (deleteBlog)="deleteBlog(post.ID)"
          [data]="post" />
      } @empty {
        <nz-empty nzNotFoundContent="There are no posts yet" />
      }
    }
    <nz-pagination
      [nzPageIndex]="page + 1"
      [nzPageSize]="5"
      (nzPageIndexChange)="pageIndexChange($event - 1)"
      [nzTotal]="total">
    </nz-pagination>
  </div>
</div>
