<ul class="header">
  <div class="links">
    <li routerLinkActive="active" routerLink="/home">Home</li>
    <li routerLinkActive="active" routerLink="/shop">Shop</li>
    <li routerLinkActive="active" routerLink="/blog">Blog</li>
    <li routerLinkActive="active" routerLink="/account">Account</li>
    <ng-container appOnlyAdmins #access="access">
      @if (access.user.userInfo.getValue()?.role_id === 1) {
        <li class="admin" routerLinkActive="active" routerLink="/admin">
          Admin
        </li>
      }
    </ng-container>
  </div>
  <div class="actions">
    @if (showSignOut) {
      <li class="profile-block">
        <button
          routerLink="/account"
          class="circle-button"
          nz-button
          nzType="primary"
          nzShape="circle">
          <span nz-icon nzType="user"></span>
        </button>
        <div (click)="signOut()">Sign out</div>
      </li>
    } @else {
      <li class="profile-block" (click)="showModal()">
        <button
          class="circle-button"
          nz-button
          nzType="primary"
          nzShape="circle">
          <span nz-icon nzType="user"></span>
        </button>
        Sign in/up
      </li>
    }
    <li class="saved">
      <span nz-icon nzType="heart" nzTheme="outline"></span>
    </li>
    <li class="cart">
      <button class="circle-button" nz-button nzType="primary" nzShape="circle">
        <span nz-icon nzType="shopping-cart"></span>
      </button>
    </li>
    <li (click)="open()" class="menu">
      <span nz-icon nzType="menu"></span>
    </li>
  </div>
</ul>
<nz-drawer
  nzWidth="70vw"
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzPlacement]="placement"
  (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <ul class="drawer-content">
      @for (link of links; track $index) {
        <li routerLinkActive="active" [routerLink]="link.link">
          {{ link.label }}
        </li>
      }
    </ul>
  </ng-container>
</nz-drawer>
<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="showSignUp ? 'Sign in' : 'Sign up'"
  nzCancelText="Later"
  (nzOnCancel)="handleCancel()"
  nzCentered>
  <div *nzModalContent>
    @if (showSignUp) {
      <app-sign-in #signIn />
    } @else {
      <app-sign-up #signUp />
    }
  </div>
  <div *nzModalFooter>
    @if (showSignUp) {
      <button nz-button nzType="default" (click)="toggleRegistered()">
        Sign up
      </button>
      <button
        [nzLoading]="isOkLoading"
        nz-button
        nzType="primary"
        (click)="handleOk()">
        Confirm
      </button>
    } @else {
      <button nz-button nzType="default" (click)="toggleRegistered()">
        Sign in
      </button>
      <button
        [nzLoading]="isOkLoading"
        nz-button
        nzType="primary"
        (click)="handleOk()">
        Confirm
      </button>
    }
  </div>
</nz-modal>
