:host {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  height: auto;
}

.header {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 0;
  user-select: none;
  @media screen and (max-width: 768px) {
    justify-content: flex-end;
  }
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header li {
  text-shadow: 0px 13px 19px rgba(0, 0, 0, 0.24);
  margin-right: 2.5rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  color: #fff;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.actions {
  display: flex;
}

.profile-block {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.circle-button {
  border-radius: 50%;
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(232, 232, 232, 0.4);
}

.saved {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.cart {
  [nz-button] {
    margin-right: 0;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.drawer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  line-height: 4rem;
  font-size: 5rem;
  height: 100%;
  margin-bottom: 0;
}

:host.fixed {
  z-index: 1;
  background: #fff;
  border-bottom: 1px solid #cecece;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  height: auto;
  .cart button {
    color: #252b42;
  }
  .profile-block button {
    color: #252b42;
  }
  .header li {
    color: #737373;
  }
  .header li.active {
    color: #252b42;
  }
}

nz-modal {
  width: fit-content;
}
