<ul class="header">
  <div class="links">
    @for (link of links; track $index) {
      <li routerLinkActive="active" [routerLink]="link.link">
        {{ link.label }}
      </li>
    }
  </div>
  <div class="actions">
    <li class="profile-block">
      <button nz-button nzType="primary" nzShape="circle">
        <span nz-icon nzType="user"></span>
      </button>
      My account
    </li>
    <li class="saved">
      <span nz-icon nzType="heart" nzTheme="outline"></span>
    </li>
    <li class="cart">
      <button nz-button nzType="primary" nzShape="circle">
        <span nz-icon nzType="shopping-cart"></span>
      </button>
    </li>
    <li (click)="open()" class="menu">
      <span nz-icon nzType="menu"></span>
    </li>
  </div>
</ul>
<nz-drawer
  nzWidth="70vw"
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzPlacement]="placement"
  (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <ul class="drawer-content">
      @for (link of links; track $index) {
        <li routerLinkActive="active" [routerLink]="link.link">
          {{ link.label }}
        </li>
      }
    </ul>
  </ng-container>
</nz-drawer>
