<ul class="header">
  <div class="links">
    <li routerLinkActive="active" routerLink="/home" i18n>Home</li>
    <li routerLinkActive="active" routerLink="/shop" i18n="link to catalog">
      Shop
    </li>
    <li routerLinkActive="active" routerLink="/blog" i18n>Blog</li>
    @if (authService.authorizedSubject | async) {
      <li routerLinkActive="active" routerLink="/account" i18n>Account</li>
    }
    <ng-container appOnlyAdmins #access="access">
      @if (access.auth.userInfo.getValue()?.role_id === 1) {
        <li
          class="admin"
          routerLinkActive="active"
          routerLink="/panel"
          [queryParams]="{ tab: 'products' }"
          i18n="link to admin panel">
          Admin
        </li>
      }
    </ng-container>
  </div>
  <div class="actions">
    @if (authService.authorizedSubject | async) {
      <button
        routerLink="/account"
        class="circle-button profile"
        nz-button
        nzType="primary"
        nzShape="circle">
        <span nz-icon nzType="user"></span>
      </button>
    }
    @if (showSignOut) {
      <li class="profile-block">
        <div (click)="signOut()" i18n>Sign out</div>
      </li>
    } @else {
      <li class="profile-block" (click)="toggleModal()" i18n>Sign in/up</li>
    }
    @if (authService.authorizedSubject | async) {
      <li class="saved">
        <span nz-icon nzType="heart" nzTheme="outline"></span>
      </li>
    }
    <li class="cart">
      <button
        routerLink="/cart"
        class="circle-button"
        nz-button
        nzType="primary"
        nzShape="circle">
        <span nz-icon nzType="shopping-cart"></span>
      </button>
    </li>
    <li (click)="toggleMenu()" class="menu">
      <span nz-icon nzType="menu"></span>
    </li>
  </div>
</ul>
<nz-drawer
  nzWidth="70vw"
  [nzClosable]="false"
  [nzVisible]="showDrawer"
  nzPlacement="left"
  (nzOnClose)="toggleMenu()">
  <ng-container *nzDrawerContent>
    <ul class="drawer-content">
      d
    </ul>
  </ng-container>
</nz-drawer>
<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="showSignUp ? signInHeader : signUpHeader"
  nzCancelText="Later"
  (nzOnCancel)="toggleModal()"
  nzCentered>
  <div *nzModalContent>
    @if (showSignUp) {
      <app-sign-in #signIn />
    } @else {
      <app-sign-up #signUp />
    }
  </div>
  <div *nzModalFooter>
    @if (showSignUp) {
      <button i18n nz-button nzType="default" (click)="toggleRegistered()">
        Sign up
      </button>
      <button
        [nzLoading]="isOkLoading"
        nz-button
        nzType="primary"
        (click)="handleOk()"
        i18n>
        Confirm
      </button>
    } @else {
      <button nz-button nzType="default" (click)="toggleRegistered()" i18n>
        Sign in
      </button>
      <button
        [nzLoading]="isOkLoading"
        nz-button
        nzType="primary"
        (click)="handleOk()"
        i18n>
        Confirm
      </button>
    }
  </div>
</nz-modal>
