<ul nz-list [nzDataSource]="data!" nzBordered nzSize="small">
  <nz-list-header
    >Products
    <div class="search">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          [formControl]="searchControl"
          type="text"
          nz-input
          spellcheck="false"
          placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
  </nz-list-header>
  <table id="products-table">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    @for (product of data; track product) {
      <tr>
        <td>
          {{ product.title }}
        </td>
        <td>
          {{ product.price | currency }}
        </td>
        <td class="actions">
          <div class="actions-container">
            <span
              class="edit-icon icon"
              nz-icon
              nzType="edit"
              nzTheme="outline"></span>
            <span
              class="delete-icon icon"
              nz-icon
              nzType="delete"
              nzTheme="outline"></span>
          </div>
        </td>
      </tr>
    }
  </table>
  <nz-list-footer>
    <nz-pagination
      [nzPageIndex]="page + 1"
      [nzTotal]="total"
      nzShowSizeChanger
      [nzPageSize]="pageSize"></nz-pagination>
  </nz-list-footer>
</ul>
