<nz-card [nzTitle]="data.title" [id]="data.ID" [nzExtra]="blogAdmin">
  <markdown>
    {{ data.text }}
  </markdown>
  <nz-divider />
  <p i18n class="date">
    {{ data.CreatedAt | date: "MMM dd, yyyy 'at' HH:mm " }}
    {{ fromText }} Admin
  </p>
</nz-card>
<ng-container appOnlyAdmins #access="access">
  <ng-template #blogAdmin>
    @if (access.auth.userInfo.getValue()?.role_id === 1) {
      <a class="action" (click)="openEditModalHandle()" i18n>Edit </a>
      <a class="action" (click)="deleteBlogHandle()" i18n>Delete</a>
    }
  </ng-template>
</ng-container>
