<nz-card [nzTitle]="data.title" [id]="data.ID" [nzExtra]="blogAdmin">
  <markdown>
    {{ data.text }}
  </markdown>
  <nz-divider />
  <p class="date">
    {{ data.CreatedAt | date: "MMM dd, yyyy 'at' HH:mm " }}
    by Admin
  </p>
</nz-card>
<ng-container appOnlyAdmins #access="access">
  <ng-template #blogAdmin>
    @if (access.auth.userInfo.getValue()?.role_id === 1) {
      <a (click)="openEditModalHandle()">Edit </a>
      <a (click)="deleteBlogHandle()">Delete</a>
    }
  </ng-template>
</ng-container>
