<section>
  <div class="left-block">
    <div class="photo-block">
      <button nz-button nzType="default">Hats</button>
    </div>
    <div class="photo-block">
      <button nz-button nzType="default">Shoes</button>
    </div>
  </div>
  <div class="center-block">
    <div class="photo-block">
      <button nz-button nzType="default">Dresses</button>
    </div>
  </div>
  <div class="right-block">
    <div class="photo-block">
      <button nz-button nzType="default">Bags</button>
    </div>
    <div class="photo-block">
      <button nz-button nzType="default">Clothes</button>
    </div>
  </div>
</section>
