nz-footer {
  background: #252b42;
  color: #fff;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    height: auto;
    padding: 5rem;
  }
}
