<div class="image-block">
  <img alt="mock image" [nzSrc]="data.image" nz-image />
  <button class="save" nz-button nzType="primary" nzShape="circle">
    <span nz-icon nzType="heart"></span>
  </button>
</div>

<div class="info">
  <h1>{{ data.header }}</h1>
  <span class="example-color">{{ data.exampleColor }}</span>
  <h2 class="price">{{ data.price | currency }}</h2>
  <div class="colors">
    @for (color of data.colors; track $index) {
      <div class="color" [style]="'background-color:' + color"></div>
    }
  </div>
  <div class="sizes">
    @for (size of data.sizes; track $index) {
      <div class="size">{{ size }}</div>
    }
  </div>
</div>
