<section>
  <h1 class="section-header">Featured products</h1>
  <nz-tabset nzCentered>
    <nz-tab nzTitle="Featured">
      <div class="content">
        @for (product of data; track product.ID) {
          <app-product
            imageType="tall"
            [showColors]="true"
            [showSizes]="true"
            [data]="product" />
        }
      </div>
    </nz-tab>
    <nz-tab nzTitle="Best Seller">
      <div class="content">
        @for (product of data; track product.ID) {
          <app-product
            imageType="tall"
            [showColors]="true"
            [showSizes]="true"
            [data]="product" />
        }
      </div>
    </nz-tab>
    <!--    <nz-tab nzTitle="New Arrivals">-->
    <!--      <div class="content">-->
    <!--        @for (product of data; track product.ID) {-->
    <!--          <app-product-->
    <!--            imageType="tall"-->
    <!--            [showColors]="true"-->
    <!--            [showSizes]="true"-->
    <!--            [data]="product" />-->
    <!--        }-->
    <!--      </div>-->
    <!--    </nz-tab>-->
  </nz-tabset>
</section>
