<app-banner />
<div class="shop-container">
  <app-filters />
  <div class="products-container">
    <div class="actions">
      <form [formGroup]="filtersForm">
        <div class="select-container">
          <div class="sort">
            <p i18n>Sort by:</p>
            <nz-select
              formControlName="sort_criterion"
              class="select"
              nzSize="large">
              <nz-option
                [nzValue]="1"
                i18n-nzLabel
                nzLabel="Relevant"></nz-option>
              <nz-option
                [nzValue]="2"
                i18n-nzLabel
                nzLabel="Price >"></nz-option>
              <nz-option
                [nzValue]="3"
                i18n-nzLabel
                nzLabel="Price <"></nz-option>
              <nz-option
                [nzValue]="4"
                i18n-nzLabel
                nzLabel="Last added"></nz-option>
            </nz-select>
          </div>
          <div class="search">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input
                [formControl]="searchControl"
                type="text"
                nz-input
                spellcheck="false"
                i18n-placeholder
                placeholder="input search text" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <span nz-icon nzType="search"></span>
            </ng-template>
          </div>
        </div>
      </form>
      <div class="change-view-container">
        <button
          nzSize="large"
          nz-button
          nzType="default"
          (click)="toggleView('grid')"
          [class.active]="viewType === 'grid'">
          <span nz-icon nzType="appstore" nzTheme="outline"></span>
        </button>
        <button
          (click)="toggleView('list')"
          nzSize="large"
          nz-button
          nzType="default"
          [class.active]="viewType === 'list'">
          <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        </button>
      </div>
    </div>
    <div>
      @if (fetching) {
        <nz-spin nzSize="large" nzSimple></nz-spin>
      } @else {
        <div class="products-grid" [class.list]="viewType === 'list'">
          @for (product of data; track product.ID) {
            <app-product
              imageType="wide"
              [viewType]="viewType"
              [showColors]="viewType === 'list'"
              [showSizes]="viewType === 'list'"
              [data]="product" />
          }
        </div>
      }
      @if (!fetching) {
        @if (!data?.length) {
          <nz-empty />
        }
        <nz-pagination
          [nzPageIndex]="page + 1"
          [nzPageSize]="20"
          (nzPageIndexChange)="pageIndexChange($event - 1)"
          [nzTotal]="total"></nz-pagination>
      }
    </div>
  </div>
</div>
