<div class="container">
  <nz-card>
    <div class="main-info">
      <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
      <p>{{ userInfo?.firstname }}</p>
    </div>
    <p i18n>Email: {{ userInfo?.email }}</p>
    <p i18n>Phone number: {{ userInfo?.phoneNumber }}</p>
    <div class="buttons">
      <button i18n nzType="primary" (click)="signOut()" nz-button>
        Sign out
      </button>
      <nz-divider></nz-divider>
      <button i18n (click)="toggleDeleteAccountModal()" nzDanger nz-button>
        Delete account
      </button>
    </div>
  </nz-card>
</div>
<nz-modal
  [(nzVisible)]="isDeleteModalVisible"
  nzTitle="Deleting account"
  nzOkText="Ok"
  nzCancelText="Cancel"
  (nzOnOk)="deleteAccount()"
  nzCentered
  (nzOnCancel)="handleDeleteCancel()">
  <ng-container i18n *nzModalContent>
    Do you really want to delete your account?
  </ng-container>
  <ng-container *nzModalFooter>
    <button i18n nz-button nzType="default" (click)="handleDeleteCancel()">
      Cancel
    </button>
    <button i18n nz-button nzType="default" nzDanger (click)="deleteAccount()">
      Delete
    </button>
  </ng-container>
</nz-modal>
