<app-new-post (formSubmit)="submitPost($event)" [sending]="sending" />

<nz-table
  [nzData]="data!"
  [nzLoading]="fetching"
  [nzShowPagination]="true"
  [nzPageIndex]="1"
  [nzTotal]="total"
  nzSize="small"
  (nzPageIndexChange)="changePage($event)">
  <thead>
    <tr>
      <th nzWidth="60px" i18n>ID</th>
      <th i18n>title</th>
      <th nzWidth="7rem" i18n>actions</th>
    </tr>
  </thead>
  <tbody>
    @for (blog of data; track blog) {
      <tr>
        <td>
          {{ blog.ID }}
        </td>
        <td>
          {{ blog.title }}
        </td>
        <td class="actions">
          <div class="actions-container">
            <span
              [routerLink]="['/blog']"
              [fragment]="blog.ID.toString()"
              aria-label="dsf"
              nz-icon
              nzType="eye"
              nz-tooltip
              i18n-nzTooltipTitle
              nzTooltipTitle="View"
              nzTheme="outline"></span>
            <span
              (click)="openModal(blog)"
              rout
              class="edit-icon icon"
              nz-icon
              nzType="edit"
              nz-tooltip
              i18n-nzTooltipTitle
              nzTooltipTitle="Edit"
              nzTheme="outline"></span>
            <span
              class="delete-icon icon"
              nz-popconfirm
              i18n-nzPopconfirmTitle
              nzPopconfirmTitle="Are you sure delete this post?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteBlog(blog.ID)"
              nz-icon
              nz-tooltip
              i18n-nzTooltipTitle
              nzTooltipTitle="Delete"
              nzType="delete"
              nzTheme="outline"></span>
          </div>
        </td>
      </tr>
    }
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Edit blog"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="updatePost()"
  nzCentered>
  <ng-container *nzModalContent>
    <app-edit-blog [data]="currentEditing" />
  </ng-container>
</nz-modal>
