<nz-table [nzShowPagination]="false" nzSize="small" [nzData]="data!">
  <thead>
    <tr>
      <th nzWidth="60px">ID</th>
      <th>E-Mail</th>
      <th>firstname</th>
      <th>phone</th>
      <th nzWidth="1rem">actions</th>
      <th nzWidth="1rem">role</th>
    </tr>
  </thead>
  <tbody>
    @for (user of data; track user) {
      <tr>
        <td>
          {{ user.ID }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.firstname }}
        </td>
        <td>
          <a [href]="'tel:' + user.phoneNumber">{{ user.phoneNumber }}</a>
        </td>
        <td class="actions">
          <div class="actions-container">
            @if (userInfo.userInfo.getValue()?.ID !== user.ID) {
              @if (user.role_id === 1) {
                <span
                  class="demote"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure demote this administrator?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="setRole(user.ID, 2)"
                  nz-tooltip
                  nzTooltipTitle="Demote the administrator"
                  nz-icon
                  nzType="arrow-down"
                  nzTheme="outline"></span>
              }
            } @else {
              <span
                class="demote"
                nz-tooltip
                nzTooltipTitle="You can't demote yourself"
                nz-icon
                nzType="arrow-down"
                nzTheme="outline"></span>
            }
          </div>
        </td>
        <td>
          <div class="role">
            <span
              nz-tooltip
              nzTooltipTitle="Administrator"
              nz-icon
              nzType="star"
              nzTheme="outline"></span>
          </div>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
