<nz-table
  [nzData]="data!"
  [nzLoading]="fetching"
  [nzShowPagination]="false"
  nzSize="small"
  [nzHideOnSinglePage]="true">
  <thead>
    <tr>
      <th i18n nzWidth="60px">ID</th>
      <th i18n>E-Mail</th>
      <th i18n>firstname</th>
      <th i18n>phone</th>
      <th nzWidth="1rem" i18n>actions</th>
      <th nzWidth="1rem" i18n>role</th>
    </tr>
  </thead>
  <tbody>
    @for (user of data; track user) {
      <tr>
        <td>
          {{ user.ID }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.firstname }}
        </td>
        <td>
          <a [href]="'tel:' + user.phoneNumber">{{ user.phoneNumber }}</a>
        </td>
        <td class="actions">
          <div class="actions-container">
            @if (auth.userInfo.getValue()?.ID !== user.ID) {
              @if (user.role_id === 1) {
                <span
                  class="demote"
                  nz-popconfirm
                  i18n-nzPopConfirmTitle
                  nzPopconfirmTitle="
                    Are you sure demote this administrator?
                  "
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="setRole(user.ID, 2)"
                  nz-tooltip
                  i18n-nzTooltipTitle
                  nzTooltipTitle="Demote the administrator"
                  nz-icon
                  nzType="arrow-down"
                  nzTheme="outline"></span>
              } @else {
                <span
                  class="demote"
                  nz-popconfirm
                  i18n-nzPopConfirmTitle
                  nzPopconfirmTitle="
                    Are you sure assign this administrator?
                  "
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="setRole(user.ID, 1)"
                  nz-tooltip
                  i18n-nzTooltipTitle
                  nzTooltipTitle="Assign as administrator"
                  nz-icon
                  nzType="arrow-up"
                  nzTheme="outline"></span>
              }
            } @else {
              <span
                class="demote"
                nz-tooltip
                i18n-nzTooltipTitle
                nzTooltipTitle="You can't demote yourself"
                nz-icon
                nzType="arrow-down"
                nzTheme="outline"></span>
            }
          </div>
        </td>
        <td>
          <div class="role">
            @if (user.role_id === 1) {
              <span
                nz-tooltip
                i18n-nzTooltipTitle
                nzTooltipTitle="Administrator"
                nz-icon
                nzType="star"
                nzTheme="outline"></span>
            } @else {
              <span
                nz-tooltip
                i18n-nzTooltipTitle
                nzTooltipTitle="Client"
                nz-icon
                nzType="user"
                nzTheme="outline"></span>
            }
          </div>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
