/* You can add global styles to this file, and also import other style files */
*,
html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

body {
}

.section-header {
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.1px;
}
nz-header {
  background: transparent !important;
  height: auto !important;
}

.ant-collapse-header {
  color: #252b42;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
}

nz-layout {
  min-height: 100% !important;
}

.wrapper {
  margin: 0 7rem;
}

nz-card {
  border-radius: 7px !important;
  border: 1px solid #dcdcdc !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
