<nz-card [nzTitle]="newPostText">
  <form
    nz-form
    [formGroup]="validateForm"
    class="login-form"
    (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control
        class="form-input"
        i18n-nzErrorTip
        nzErrorTip="Please input a post title!">
        <nz-input-group nzPrefixIcon="info">
          <input
            type="text"
            [disabled]="sending"
            nz-input
            formControlName="title"
            i18n-placeholder
            placeholder="Title" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control
        class="form-input"
        i18n-nzErrorTip
        nzErrorTip="Please input a post text!">
        <textarea
          class="form-input textarea"
          rows="4"
          nz-input
          i18n-placeholder
          placeholder="Text"
          formControlName="text"
          [disabled]="sending"></textarea>
      </nz-form-control>
    </nz-form-item>
    <button [disabled]="sending" nz-button [nzType]="'primary'">
      {{ sending ? sendingText : sendText }}
    </button>
  </form>
</nz-card>
