<nz-card style="width: 300px" [nzBordered]="false">
  <form [formGroup]="filtersForm">
    <nz-input-group class="search" [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        i18n-placeholder
        placeholder="Search for products" />
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </nz-input-group>
    <nz-card>
      <nz-collapse nzGhost nzExpandIconPosition="right">
        @for (category of categories; track category) {
          <nz-collapse-panel
            [nzExtra]="extraTpl"
            nzShowArrow="false"
            [nzHeader]="category.category_name">
            <ul class="options">
              <li i18n>View all</li>
            </ul>
          </nz-collapse-panel>
        }

        <!-- <nz-collapse nzGhost nzExpandIconPosition="right">
        @for (category of categories; track category) {
          <nz-collapse-panel
            [nzExtra]="extraTpl"
            nzShowArrow="false"
            [nzHeader]="category.category_name">
            <ul class="options">
              <ng-container *ngFor="let subcategory of category.subcategories">
                <li>
                    {subcategory.name}
                </li>
              </ng-container>
                
              <li>View all</li>
            </ul>
          </nz-collapse-panel>
        } -->
      </nz-collapse>
      <ng-template #extraTpl>
        <!-- You can use stopPropagation if you don't want the panel to toggle -->
        <button
          class="expand-plus"
          nz-button
          nzSize="small"
          nzType="primary"
          nzShape="circle">
          <span nz-icon nzType="plus"></span>
        </button>
      </ng-template>
    </nz-card>
    <nz-card>
      <p class="card-header" i18n>Color</p>
      <nz-radio-group>
        <label nz-radio nzValue="A">Red</label>
        <label nz-radio nzValue="B">Blue</label>
        <label nz-radio nzValue="C">Orange</label>
      </nz-radio-group>
    </nz-card>
    <nz-card>
      <p class="card-header" i18n>Brand</p>
      <nz-radio-group formControlName="brand_id">
        @for (brand of brands; track brand) {
          <label nz-radio [nzValue]="brand.ID">{{ brand.Name }}</label>
        }
      </nz-radio-group>
    </nz-card>
  </form>
</nz-card>
