<div class="action-group">
  <div class="search">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        [formControl]="searchControl"
        type="text"
        nz-input
        spellcheck="false"
        i18n-placeholder
        placeholder="Input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

  <button nz-button [nzType]="'primary'" (click)="showModal(null, 0)">
    <span i18n>New product</span>
  </button>
</div>

<nz-table
  [nzData]="data!"
  [nzLoading]="fetching"
  [nzShowPagination]="false"
  nzSize="small"
  [nzHideOnSinglePage]="true">
  <thead>
    <tr>
      <th i18n nzWidth="60px">ID</th>
      <th i18n>Title</th>
      <th i18n>Brand</th>
      <th i18n>Price</th>
      <th i18n nzWidth="7rem">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (product of data; track product) {
      <tr>
        <td>
          {{ product.ID }}
        </td>
        <td>
          {{ product.title }}
        </td>
        <td>
          {{ brandMap[product.brand_id] }}
        </td>
        <td>
          {{ product.price | currency }}
        </td>
        <td class="actions">
          <div class="actions-container">
            <span
              [routerLink]="['/product', product.ID.toString()]"
              aria-label="dsf"
              nz-icon
              nzType="eye"
              nz-tooltip
              i18n-nzTooltipTitle
              nzTooltipTitle="View"
              nzTheme="outline"></span>
            <span
              class="edit-icon icon"
              nz-icon
              nzType="edit"
              nz-tooltip
              (click)="showModal(product, 1)"
              i18n-nzTooltipTitle
              nzTooltipTitle="Edit"
              nzTheme="outline"></span>
            <span
              nz-popconfirm
              i18n-nzPopConfirmTitle
              nzPopconfirmTitle="Are you sure delete this product?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteProduct(product.ID)"
              class="delete-icon icon"
              nz-icon
              nz-tooltip
              i18n-nzTooltipTitle
              nzTooltipTitle="Delete"
              nzType="delete"
              nzTheme="outline"></span>
          </div>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
<ng-template nz-tab> </ng-template>
<nz-modal
  nzCentered
  [(nzVisible)]="isModalVisible"
  [nzTitle]="!modalType ? 'New product' : 'Edit product'"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()"
  [nzOkText]="!modalType ? 'Add' : 'Update'">
  <ng-container *nzModalContent>
    <app-new-product
      [data]="product"
      (submitFormEvent)="submitProduct($event)" />
  </ng-container>
</nz-modal>
